*{
    margin: 0px;
    padding: 0px;
}
fieldset{
    color:blue;
    text-align: center;
    margin: auto;
    width: 300px;
    background-color:floralwhite
}
form{
    text-align: center;
}
h1{
    text-align: center;
    color: rgb(12, 12, 12);
}